.add-to-cart-component-container {
    position: absolute;
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
        .add-to-cart-component {

            z-index: 1000;

            .add-to-cart-form {

                display: flex;
                flex-direction: column;
                background-color: rgb(224, 224, 224);
                padding: 1.1rem 1.5rem;
                row-gap: .5rem;

                .add-to-cart-title {
                    padding: 0;
                    margin: 0;
                }

                .close-cross-icon {
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: end;
                    cursor: pointer;
                }

                .input-detail {
                    label {
                        font-weight: 800;
                    }
                }

            }
        }
}